.carousel-item img{
    height: 400px;
}
.transparentclr{
    background-color: #00000073;
}
.position-absolute{
    top: 110px;
}
.txtalign{
    text-align: justify;
}
#services{
    background-color: #ededed;
}
.bgfooter{
    background-color: black;
}
.bgfooter2{
    background-color: darkgray;
}
